/* Brand fonts (served via Render proxy) */

@font-face {
  font-family: "OMNI Display";
  src: url("https://test-design-tool.onrender.com/fonts/omni-display") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OMNI Mono";
  src: url("https://test-design-tool.onrender.com/fonts/omni-mono") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
