/* Brand fonts (served via Render proxy) */
/* I file su Drive sono TTF, quindi format("truetype") */

@font-face {
  font-family: "OMNI Display";
  src: url("https://test-design-tool.onrender.com/fonts/omni-display?v=1") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OMNI Mono";
  src: url("https://test-design-tool.onrender.com/fonts/omni-mono?v=1") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
